.scroll-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}

.location,
.icon,
.temperature,
.conclusion {
	flex: 1;
}

.conclusion {
	font-size: 4rem;
}

.icon,
.temperature {
	font-size: 6rem;
}

